@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Comforter+Brush&family=Nunito:wght@200&family=Outfit:wght@100&display=swap');

:root {
 --darkColor: rgb(32, 33, 36);
 --lightColor: wheat;
 --primeColor: rgba(150, 202, 27, 0.911);
 --secondColor: rgb(94, 86, 22);
 --primeBorder: dashed 2px var(--lightColor);
 --secondBorder: solid 1px var(--lightColor);
 --borderRadius: 1rem;
}

::selection {
    background-color: rgb(221, 53, 53);
    color: var(--darkColor);
  }

:target {padding-top: 10rem;}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
    font-family:'Nunito','Outfit', sans-serif;
    background-color: var(--darkColor);
    text-align: center;
    color: var(--lightColor);
}


h1 {
    font-size: 4rem;
    text-transform:uppercase;
    color: var(--lightColor);
    padding: 20rem 3rem 2rem 3rem;

}

h2 {
    font-size: 3rem;
    color: var(--primeColor);
    font-family: 'Comforter', cursive, sans-serif;
}

hr {
 border: var(--secondBorder);
 width: 80%;
}

h3 {
    display: block;
    font-size: 2rem;
    color: var(--primeColor);

}

header {
    width: 100%;
    margin: 0 auto;
}

main {
     margin: 5rem; 
}

.aboutMeBox {
    margin: 1rem;
    border:var(--primeBorder);
    border-radius: var(--borderRadius);

}

.aboutMeBox:hover {
    padding:2rem;
    box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
  transition: all 0.5s ease-in-out;
}



.profileCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profileImg {
    width: 100%;

}
}

.profileCard-left {
    width:100%;
    flex-shrink: 1;
}
.profileCard-right {
    padding:0.5em;
    flex-direction: column;
}

#profileText {
    line-height: 1.5;
    padding: 2rem;
    flex-shrink: 1.5;
    height: 60%;  
    display: grid;
    place-items: center;
}
.profileCard-right-bottom {
    
    margin-bottom: 2rem;
    flex-shrink: 1;
    justify-content: end;
}

#navBar {
    width: 100%;
    height: 7rem;
    background-color:var(--darkColor);
    display: flex;
    position: fixed;
    justify-content: right;
}

#navBar ul {
    margin: 0 1rem;
}

li {
    display:inline;
    margin: 0;
    padding: 0;
}

.navButton a {
    line-height: 7.2rem;
    text-transform:uppercase;
    text-decoration: none;
    border: var(--primeBorder);
    border-radius: var(--borderRadius);
    padding: 0.5em;
    margin-right: 0.5rem;
    color:var(--primeColor);
}

.navButton a:hover {
  box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
  transition: all 0.5s ease-in-out;
}


.myLinks, .mySkills {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;

}
.myLinks:hover, .mySkills:hover{
    cursor:pointer;
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}


/* leaving this because I'd like to add tooltips in the future */
/* .text {
    visibility: hidden;
    width: 3em;
    background-color:var(--primeColor);
    color:var(--lightColor);
    text-align: center;
    border-radius:var(--borderRadius);
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }  

.mySkills:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
    cursor:pointer;
    visibility: visible; 
} */


.container {
    width:96%;
}

.cardHeader {
    padding: 0.5em;
    color:var(--primeColor);
}
.card {
    margin: 0.5em;
  

}

.projectHeader {
    margin-top: inherit;
}

.projectImg {
    width:80%;
    object-fit:cover;
    object-position: top;
    border-radius: var(--borderRadius);
}
#projectImgBig {
    width: 80%;
    object-fit:cover;
    object-position: top;
    border-radius: var(--borderRadius);
}

#myProjects {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#project1 {
    width: 95%;
}


.containerBody {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.projectCard {
    margin: 1.5rem;
    border:var(--primeBorder);
    border-radius: var(--borderRadius);
    width: 45%;
}

.projectCard:hover {
    box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
    transition: all 0.5s ease-in-out;
}

.andMore {
   font-style:italic;
   text-align: right;
   padding: 2rem;
}

#contact, #mycontact {
    font-size:1rem;
      text-align: center;
   padding-bottom: 5rem;
   text-decoration: none;
    color: wheat;
  }



  @media screen and (max-width:900px) {

    .containerBody {
        justify-content: center;
    }
    
    .projectCard {
    width:100%;
    }

    #profileText {
        font-size: 1.5rem;
        line-height: 1.5;
    }

         
}


@media screen and (max-width:480px) {

    body {
        font-size:1.5rem;
    }
    .containerBody {
        justify-content: center;
    }
    
    .projectCard {
    width:100%;
    }

    .profileCard {
        flex-direction: column;
        justify-content: space-between;
    }
    
    #profileText {
        font-size:1.5rem;
        overflow: auto;
    }

    .profileCard-left {

    }


         
}