:root {
 --darkColor: rgb(32, 33, 36);
 --lightColor: wheat;
 --primeColor: rgba(150, 202, 27, 0.911);
 --secondColor:  rgba(223, 100, 78, 0.911);
 --primeBorder: dashed 2px var(--lightColor);
 --secondBorder: solid 1px var(--lightColor);
 --borderRadius: 1rem;
}

::selection {
    background-color: rgb(221, 53, 53);
    color: var(--darkColor);
  }

:target {padding-top: 8rem;}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

body {
    box-sizing: border-box;
    font-size: 1.75rem;
    line-height: 1.5;
    font-family:'Nunito','Outfit', sans-serif;
    background-color: var(--darkColor);
    text-align: center;
    color: var(--lightColor);
}


h1 {
    font-size: 4rem;
    text-transform:uppercase;
    color: var(--lightColor);
    padding: 20rem 3rem 2rem 3rem;

}

h2 {
    font-size: 3rem;
    color: var(--primeColor);
    font-family: 'Comforter', cursive, sans-serif;
}

hr {
 border: var(--secondBorder);
 width: 80%;
}

h3 {
    display: block;
    font-size: 2rem;
    color: var(--primeColor);

}

header {
    width: 100%;
    margin: 0 auto;
}

main {
     margin: 5rem; 
}


.aboutMeBox {
    width: 95%;
    margin: 2rem auto;
    padding:2rem;
    border:var(--primeBorder);
    border-radius: var(--borderRadius);

}

.aboutMeBox:hover {
    box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
  transition: all 0.5s ease-in-out;
}

.aboutMeBox:hover .cardHeader {
  box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
  transition: all 0.5s ease-in-out;
}


.profileCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profileImg {
    width: 100%;
}

.profileCard-left {
    width:100%;
    flex-shrink: 1;
}
.profileCard-right {
    padding:0.5em;
    flex-direction: column;
}

#profileText {
    line-height: 1.5;
    padding: 2rem;
    flex-shrink: 1.5;
    height: 60%;  
    display: grid;
    place-items: center;
}
.profileCard-right-bottom {

    margin-bottom: 2rem;
    flex-shrink: 1;
    justify-content: end;
}

#navBar {
    width: 100%;
    height: 7rem;
    background-color:var(--darkColor);
    display: flex;
    position: fixed;
    justify-content: right;
}

#navBar ul {
    margin: 0 1rem;
}

li {
    display:inline;
    margin: 0;
    padding: 0;
}

.navButton a {
    line-height: 7.2rem;
    text-transform:uppercase;
    text-decoration: none;
    border: var(--primeBorder);
    border-radius: var(--borderRadius);
    padding: 0.5em;
    margin-right: 0.5rem;
    color:var(--primeColor);
}

.navButton a:hover {
  box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
  transition: all 0.5s ease-in-out;
}


.myLinks, .mySkills {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;

}
.myLinks:hover, .mySkills:hover{
    cursor:pointer;
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}


/* .container {
    width:96%;
} */

.card {
    margin: 0.5em;
}
.cardHeader, .projectHeader {
    border-radius: var(--borderRadius);
    color: var(--primeColor);
    margin-top: inherit;
    background-color: var(--darkColor);
    padding: 0.5em 1em;
    border: var(--primeBorder);
    border-radius: var(--borderRadius);
}


.projectImg {
    margin:1em auto;
    width:80%;
    height: 60%;
    border: var(--secondBorder);
    object-fit:cover;
    object-position: top;
    border-radius: var(--borderRadius);
    flex-shrink: 1;
}

#project1 {
    margin: 2rem auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#projectImgBig {
    margin: 3rem;
    width: 35%;
    border: var(--secondBorder);
    border-radius: var(--borderRadius);
}

#project1-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}






.containerBody {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.projectCard {
    margin: 1.5rem;
    border:var(--primeBorder);
    border-radius: var(--borderRadius);
    width: 45%;
}

.projectCard:hover {
    background-color: rgba(241, 73, 7, 0.61);
    box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
    transition: all 0.5s ease-in-out;
}

.projectCard:hover .cardHeader {
    box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
    transition: all 0.5s ease-in-out;
}

.projectCard:hover .projectHeader {
    box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
    transition: all 0.5s ease-in-out;
}

.comment {
    margin: 1em;
}
.andMore {
   font-style:italic;
   text-align: right;
   padding: 2rem;
}

#contact, #mycontact {
    font-size:1rem;
      text-align: center;
   padding-bottom: 5rem;
   text-decoration: none;
    color: wheat;
  }




  @media screen and (max-width:900px) {

    .containerBody {
        justify-content: center;
    }
    
    .projectCard {
    width:100%;
    }

    #profileText {
        font-size: 1.5rem;
        line-height: 1.5;
    }

         
}


@media screen and (max-width:480px) {
    :root {
        --primeBorder: dashed 0.5px var(--lightColor);
    }

    body {
        font-size:1.5rem;
    }
    .containerBody {
        justify-content: center;
    }
    
    .profileCard {
        width:100%;
        display: flex;
        flex-direction: column;    
        justify-content: space-between;
     }
    .projectCard {
    width:100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    }

    #project1 {
        font-size:1rem;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }
    #projectImgBig { 
        margin: 1rem auto;
        width: 75%;
        
    }
    .profileCard {
        flex-direction: column;
        justify-content: space-between;
    }

    #navBar ul {
        margin: 0 auto;
    }
    .aboutMeBox {
        width: auto;
    }
#profileImg {
    width:80%;
}
    
    #profileText {
        font-size:1rem;
        overflow: auto;
    }
    .myLinks, .mySkills {
        width: 1.5rem;
        height: 1.5rem;
        margin: 1rem 0.5rem;
    }
         
}