@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Comforter+Brush&family=Nunito:wght@200&family=Outfit:wght@100&display=swap');

:root {
 --darkColor: rgb(32, 33, 36);
 --lightColor: wheat;
 --primeColor: rgba(150, 202, 27, 0.911);
 --secondColor: rgb(94, 86, 22);
 --primeBorder: dashed 2px var(--lightColor);
 --secondBorder: solid 1px var(--lightColor);
 --borderRadius: 1rem;
}

::selection {
    background-color: rgb(221, 53, 53);
    color: var(--darkColor);
  }



html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
    font-family:'Nunito','Outfit', sans-serif;
    background-color: var(--darkColor);
    text-align: center;
    color: var(--lightColor);
}




h1 {
    font-size: 4rem;
    text-transform:uppercase;
    color: var(--lightColor);
    padding: 20rem 3rem 2rem 3rem;

}

h2 {
    font-size: 3rem;
    color: var(--primeColor);
    font-family: 'Comforter', cursive, sans-serif;
}

hr {
 border: var(--secondBorder);
 width: 80%;
}

h3 {
    font-size: 2rem;
    color: var(--primeColor);

}

header {
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
}

.profileCard {
    display: flex;
    justify-content: row;
}
#profileImg {
    width: 200px;
}
#profileText {
}

#navBar {
    width: 100%;
    margin-top: 0;
    height: 10rem;
    background-color:var(--darkColor);
    position: fixed;
    display: flex;
    /* justify-content: right; */
}

#navBar ul, li {
    display:inline;
    margin: 0;
    padding: 0;
}

.navButton a {
    text-transform:uppercase;
    text-decoration: none;
    border: var(--primeBorder);
    border-radius: var(--borderRadius);
    padding: 0.5em;
    color:var(--primeColor);
}

.navButton a:hover {
  box-shadow: inset 0px 0px 8px var(--primeColor), 0 0 15px var(--primeColor);
  transition: all 0.5s ease-in-out;
}

.myLinks {
    width: 3rem;
    height: 3rem;
    margin: 2rem 1rem;

}
.myLinks:hover {
    cursor:pointer;
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}


main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.container {
    width:96%;
    /* height: 100%; */
    border: solid 1px green;
}

.card {
    margin: 0.5em;
    border: var(--primeBorder);
    border-radius: var(--borderRadius);
    /* height: 100%; */

}
.projectImg {
    width:80%;
    height: 50%;
    border-radius: var(--borderRadius);
}

#myProjects {
    display:flex;
    justify-content: row;
    flex-wrap: wrap;
}

.profileCard {
    border:var(--primeBorder);
    border-radius: var(--borderRadius);
}
.projectCard {
    border:var(--primeBorder);
    border-radius: var(--borderRadius);
    width:49%;
    /* height: auto; */
}

.italic {
   font-style:italic;
}



















#contact, #mycontact {
    font-size:1rem;
      text-align: center;
   padding-bottom: 5rem;
   text-decoration: none;
    color: wheat;
  }